<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="record.wilson.flutter.com.flutter_plugin_record_329">
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 保持屏幕唤醒 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Android 13+ 需要的权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
</manifest>
